<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<%= link_to "Add a restaurant", new_restaurant_path, {class: 'btn-danger'}  %>
<% @restaurants.each do |restaurant| %>
<h1>  <%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
<h3><%= restaurant.category.capitalize %></h3>
<p><%= restaurant.address %></p>
<p><%= restaurant.phone_number %></p>
<% end %>
